@page "/student"
@using System.Web;
@using System.Text.Json;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient Http
@inject HttpUtility HttpUtility

<h3>Student</h3>
<h4>@(hello)</h4>

@code {
	string hello = "";
	protected override async Task OnInitializedAsync()
	{
		var user = await localStorage.GetItemAsync<E_Journal.Domain.Model.Entities.Student>("student");
		hello = String.Format("Добро пожаловать, {0} {1}!", user.FirstName, user.Patronymic);
	}
}
